<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--
    配置SpringMvc的前端控制器DispatcherServlet
    SpringMvc配置位置和名称:
      位置在WEB-INF下
      名称:<servlet-name>-servlet.xml,当前配置下的配置文件为springMvc-servlet.xml
    url-pattern中/和/*的区别
      /:匹配浏览器向服务器发送的所有请求(不包括.jsp)
      /*:匹配浏览器向服务器发送的所有请求(包括.jsp)
  -->
  <servlet>
    <servlet-name>SpringMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
